In [76]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [77]:
data=pd.read_csv('cleaned_data.csv')
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,2,3,2,2,1,2,1,9,3,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,3,5,1,1,2,1,9,3,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,3,5,2,2,2,1,9,3,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
3,40,10,3,1,2,1,2,1,9,3,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,3,5,2,1,1,1,9,3,...,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41171,38,5,3,3,2,2,2,0,5,0,...,1,999,0,2,-1.1,94.767,-50.8,1.028,4963.6,1
41172,46,9,3,3,2,1,2,0,5,0,...,1,999,0,2,-1.1,94.767,-50.8,1.028,4963.6,0
41173,56,5,3,6,2,2,2,0,5,0,...,2,999,0,2,-1.1,94.767,-50.8,1.028,4963.6,0
41174,44,8,3,3,2,1,2,0,5,0,...,1,999,0,2,-1.1,94.767,-50.8,1.028,4963.6,1
41175,38,5,3,3,2,2,2,0,5,0,...,3,999,1,1,-1.1,94.767,-50.8,1.028,4963.6,0

In [78]:
x=data.drop('y',1)
x

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,2,3,2,2,1,2,1,9,3,261,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0
1,57,7,3,5,1,1,2,1,9,3,149,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0
2,37,7,3,5,2,2,2,1,9,3,226,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0
3,40,10,3,1,2,1,2,1,9,3,151,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0
4,56,7,3,5,2,1,1,1,9,3,307,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41171,38,5,3,3,2,2,2,0,5,0,334,1,999,0,2,-1.1,94.767,-50.8,1.028,4963.6
41172,46,9,3,3,2,1,2,0,5,0,383,1,999,0,2,-1.1,94.767,-50.8,1.028,4963.6
41173,56,5,3,6,2,2,2,0,5,0,189,2,999,0,2,-1.1,94.767,-50.8,1.028,4963.6
41174,44,8,3,3,2,1,2,0,5,0,442,1,999,0,2,-1.1,94.767,-50.8,1.028,4963.6
41175,38,5,3,3,2,2,2,0,5,0,239,3,999,1,1,-1.1,94.767,-50.8,1.028,4963.6

In [79]:
y=data[['y']]
y

       y
0      0
1      0
2      0
3      0
4      0
...   ..
41171  1
41172  0
41173  0
41174  1
41175  0

[41176 rows x 1 columns]

In [80]:
data.corr()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
age,1.000000,-0.052695,0.133334,-0.132605,-0.190914,-0.003721,0.005951,0.032989,-0.039826,-0.016050,...,0.010061,0.006086,-0.021825,0.017977,0.070892,0.036791,0.100817,0.083740,0.067970,-0.020295
job,-0.052695,1.000000,0.001182,0.028967,0.007099,0.001770,-0.003950,0.007619,0.090358,-0.006782,...,0.018271,0.056815,-0.055733,0.053368,0.080785,0.030502,-0.032605,0.073162,0.092564,-0.058140
marital,0.133334,0.001182,1.000000,-0.117753,-0.103910,-0.003548,0.001718,0.043540,0.014390,-0.005119,...,-0.010723,0.017636,-0.030225,0.030630,0.048962,0.025055,0.050975,0.054645,0.050074,-0.026363
education,-0.132605,0.028967,-0.117753,1.000000,0.178446,0.011989,-0.000827,-0.085334,-0.083960,0.004163,...,-0.004663,-0.037264,0.042451,-0.040702,-0.057311,-0.074203,0.036485,-0.050011,-0.049918,0.046635
default,-0.190914,0.007099,-0.103910,0.178446,1.000000,0.017558,0.000930,-0.135275,-0.131143,0.004094,...,-0.026525,-0.080086,0.102458,-0.108204,-0.203257,-0.168076,-0.026502,-0.195335,-0.189846,0.099364
housing,-0.003721,0.001770,-0.003548,0.011989,0.017558,1.000000,0.234247,-0.083414,-0.028248,0.024210,...,-0.005521,-0.010369,0.017634,-0.021586,-0.055689,-0.079589,-0.033427,-0.054702,-0.040882,0.011436
loan,0.005951,-0.003950,0.001718,-0.000827,0.000930,0.234247,1.000000,-0.004361,-0.006791,0.006655,...,-0.008723,-0.001323,-0.000801,-0.000628,-0.003046,-0.006274,0.005871,-0.001547,-0.002470,0.005051
contact,0.032989,0.007619,0.043540,-0.085334,-0.135275,-0.083414,-0.004361,1.000000,0.226932,-0.052423,...,0.043604,0.117999,-0.212903,0.226872,0.393730,0.591596,0.251575,0.399892,0.269285,-0.144774
month,-0.039826,0.090358,0.014390,-0.083960,-0.131143,-0.028248,-0.006791,0.226932,1.000000,-0.032646,...,0.074865,0.173930,-0.189762,0.201431,0.313767,0.181553,0.011647,0.273359,0.288054,-0.222777
day_of_week,-0.016050,-0.006782,-0.005119,0.004163,0.004094,0.024210,0.006655,-0.052423,-0.032646,1.000000,...,-0.012804,-0.010036,-0.002144,0.000061,-0.005394,-0.011409,-0.040300,-0.012606,-0.002293,0.003453
duration,-0.003773,-0.008877,-0.001237,-0.009084,0.011805,-0.004868,0.003246,-0.026665,-0.008070,0.006481,...,-0.016585,-0.047556,0.020600,-0.026422,-0.027941,0.005303,-0.008126,-0.032861,-0.044672,0.405297
campaign,0.010061,0.018271,-0.010723,-0.004663,-0.026525,-0.005521,-0.008723,0.043604,0.074865,-0.012804,...,1.000000,0.045010,-0.058309,0.065065,0.097217,0.073674,-0.021192,0.081547,0.092326,-0.047028
pdays,0.006086,0.056815,0.017636,-0.037264,-0.080086,-0.010369,-0.001323,0.117999,0.173930,-0.010036,...,0.045010,1.000000,-0.587508,0.744677,0.271063,0.078920,-0.091374,0.296946,0.372659,-0.324948
previous,-0.021825,-0.055733,-0.030225,0.042451,0.102458,0.017634,-0.000801,-0.212903,-0.189762,-0.002144,...,-0.058309,-0.587508,1.000000,-0.868535,-0.420587,-0.203197,-0.050929,-0.454571,-0.501411,0.230202
poutcome,0.017977,0.053368,0.030630,-0.040702,-0.108204,-0.021586,-0.000628,0.226872,0.201431,0.000061,...,0.065065,0.744677,-0.868535,1.000000,0.457304,0.259825,0.041717,0.478770,0.509677,-0.270399
emp.var.rate,0.070892,0.080785,0.048962,-0.057311,-0.203257,-0.055689,-0.003046,0.393730,0.313767,-0.005394,...,0.097217,0.271063,-0.420587,0.457304,1.000000,0.775293,0.196257,0.972244,0.906949,-0.298289
cons.price.idx,0.036791,0.030502,0.025055,-0.074203,-0.168076,-0.079589,-0.006274,0.591596,0.181553,-0.011409,...,0.073674,0.078920,-0.203197,0.259825,0.775293,1.000000,0.059170,0.688180,0.521945,-0.136134
cons.conf.idx,0.100817,-0.032605,0.050975,0.036485,-0.026502,-0.033427,0.005871,0.251575,0.011647,-0.040300,...,-0.021192,-0.091374,-0.050929,0.041717,0.196257,0.059170,1.000000,0.277864,0.100679,0.054802
euribor3m,0.083740,0.073162,0.054645,-0.050011,-0.195335,-0.054702,-0.001547,0.399892,0.273359,-0.012606,...,0.081547,0.296946,-0.454571,0.478770,0.972244,0.688180,0.277864,1.000000,0.945146,-0.307740
nr.employed,0.067970,0.092564,0.050074,-0.049918,-0.189846,-0.040882,-0.002470,0.269285,0.288054,-0.002293,...,0.092326,0.372659,-0.501411,0.509677,0.906949,0.521945,0.100679,0.945146,1.000000,-0.354669
y,-0.020295,-0.058140,-0.026363,0.046635,0.099364,0.011436,0.005051,-0.144774,-0.222777,0.003453,...,-0.047028,-0.324948,0.230202,-0.270399,-0.298289,-0.136134,0.054802,-0.307740,-0.354669,1.000000

In [81]:
data.drop('euribor3m',axis=1,inplace=True)

In [82]:
data.drop('duration',axis=1,inplace=True)

In [83]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,nr.employed,y
0,56,2,3,2,2,1,2,1,9,3,1,999,0,2,1.1,93.994,-36.4,5191.0,0
1,57,7,3,5,1,1,2,1,9,3,1,999,0,2,1.1,93.994,-36.4,5191.0,0
2,37,7,3,5,2,2,2,1,9,3,1,999,0,2,1.1,93.994,-36.4,5191.0,0
3,40,10,3,1,2,1,2,1,9,3,1,999,0,2,1.1,93.994,-36.4,5191.0,0
4,56,7,3,5,2,1,1,1,9,3,1,999,0,2,1.1,93.994,-36.4,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41171,38,5,3,3,2,2,2,0,5,0,1,999,0,2,-1.1,94.767,-50.8,4963.6,1
41172,46,9,3,3,2,1,2,0,5,0,1,999,0,2,-1.1,94.767,-50.8,4963.6,0
41173,56,5,3,6,2,2,2,0,5,0,2,999,0,2,-1.1,94.767,-50.8,4963.6,0
41174,44,8,3,3,2,1,2,0,5,0,1,999,0,2,-1.1,94.767,-50.8,4963.6,1
41175,38,5,3,3,2,2,2,0,5,0,3,999,1,1,-1.1,94.767,-50.8,4963.6,0

In [84]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()

In [85]:
x_scaled=sc.fit_transform(x)
x_scaled

array([[0.75      , 0.2       , 1.        , ..., 0.60251046, 0.95737928,
        0.85973535],
       [0.76923077, 0.7       , 1.        , ..., 0.60251046, 0.95737928,
        0.85973535],
       [0.38461538, 0.7       , 1.        , ..., 0.60251046, 0.95737928,
        0.85973535],
       ...,
       [0.75      , 0.5       , 1.        , ..., 0.        , 0.08932215,
        0.        ],
       [0.51923077, 0.8       , 1.        , ..., 0.        , 0.08932215,
        0.        ],
       [0.40384615, 0.5       , 1.        , ..., 0.        , 0.08932215,
        0.        ]])

In [86]:
x=pd.DataFrame(x_scaled,columns=x.columns)
x

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,0.750000,0.2,1.0,0.333333,1.0,0.5,1.0,1.0,1.000000,0.75,0.053070,0.0,1.0,0.000000,1.0,0.937500,0.698753,0.60251,0.957379,0.859735
1,0.769231,0.7,1.0,0.833333,0.5,0.5,1.0,1.0,1.000000,0.75,0.030297,0.0,1.0,0.000000,1.0,0.937500,0.698753,0.60251,0.957379,0.859735
2,0.384615,0.7,1.0,0.833333,1.0,1.0,1.0,1.0,1.000000,0.75,0.045954,0.0,1.0,0.000000,1.0,0.937500,0.698753,0.60251,0.957379,0.859735
3,0.442308,1.0,1.0,0.166667,1.0,0.5,1.0,1.0,1.000000,0.75,0.030704,0.0,1.0,0.000000,1.0,0.937500,0.698753,0.60251,0.957379,0.859735
4,0.750000,0.7,1.0,0.833333,1.0,0.5,0.5,1.0,1.000000,0.75,0.062424,0.0,1.0,0.000000,1.0,0.937500,0.698753,0.60251,0.957379,0.859735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41171,0.403846,0.5,1.0,0.500000,1.0,1.0,1.0,0.0,0.555556,0.00,0.067914,0.0,1.0,0.000000,1.0,0.479167,1.000000,0.00000,0.089322,0.000000
41172,0.557692,0.9,1.0,0.500000,1.0,0.5,1.0,0.0,0.555556,0.00,0.077877,0.0,1.0,0.000000,1.0,0.479167,1.000000,0.00000,0.089322,0.000000
41173,0.750000,0.5,1.0,1.000000,1.0,1.0,1.0,0.0,0.555556,0.00,0.038430,0.2,1.0,0.000000,1.0,0.479167,1.000000,0.00000,0.089322,0.000000
41174,0.519231,0.8,1.0,0.500000,1.0,0.5,1.0,0.0,0.555556,0.00,0.089874,0.0,1.0,0.000000,1.0,0.479167,1.000000,0.00000,0.089322,0.000000
41175,0.403846,0.5,1.0,0.500000,1.0,1.0,1.0,0.0,0.555556,0.00,0.048597,0.4,1.0,0.142857,0.5,0.479167,1.000000,0.00000,0.089322,0.000000

In [87]:
from imblearn.over_sampling import SMOTE
from collections import Counter
sm=SMOTE()

In [88]:
print(Counter(y))
x_sm,y_sm=sm.fit_resample(x,y)
print(Counter(x_sm))
print(Counter(y_sm))

Counter({'y': 1})
Counter({'age': 1, 'job': 1, 'marital': 1, 'education': 1, 'default': 1, 'housing': 1, 'loan': 1, 'contact': 1, 'month': 1, 'day_of_week': 1, 'duration': 1, 'campaign': 1, 'pdays': 1, 'previous': 1, 'poutcome': 1, 'emp.var.rate': 1, 'cons.price.idx': 1, 'cons.conf.idx': 1, 'euribor3m': 1, 'nr.employed': 1})
Counter({'y': 1})

In [89]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_sm,y_sm,test_size=0.25,random_state=42)

In [90]:
from xgboost import XGBClassifier

In [91]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((54805, 20), (18269, 20), (54805, 1), (18269, 1))

In [92]:
xgb = XGBClassifier()

In [93]:
xgb.fit(x_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [94]:
xgb_predict=xgb.predict(x_test)
xgb_predict

array([0, 1, 1, ..., 0, 1, 1])

In [95]:
import pickle

In [98]:
with open('xgBoostModel.pkl','wb') as file:
    pickle.dump(xgb, file)

In [120]:

import pandas as pd
 
data = {
        "age":[37,49,50],
        "job":[7,8,10],
        "marital":[2,3,3], 
        "education":[1,4,3], 
        "default":[1,2,2], 
        "housing":[2,1,2], 
        "loan":[1,2,1], 
        "contact":[1,1,0], 
        "month":[6,9,8], 
        "day_of_week":[3,3,1], 
        "duration":[240,1467,635],
        "campaign":[1,1,1], 
        "pdays":[999,999,999], 
        "previous":[0,0,0], 
        "poutcome":[1,2,2], 
        "emp.var.rate":[1.1,1.1,1.4], 
        "cons.price.idx":[92.994,93.994,93.918], 
        "cons.conf.idx":[-43.4,-36.4,-42.7], 
        "euribor3m":[4.238,4.857,4.962], 
        "nr.employed":[5191,5191,5228.1],
}
new = pd.DataFrame.from_dict(data)
new

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,37,7,2,1,1,2,1,1,6,3,240,1,999,0,1,1.1,92.994,-43.4,4.238,5191.0
1,49,8,3,4,2,1,2,1,9,3,1467,1,999,0,2,1.1,93.994,-36.4,4.857,5191.0
2,50,10,3,3,2,2,1,0,8,1,635,1,999,0,2,1.4,93.918,-42.7,4.962,5228.1

In [117]:
print(xgb.fit(new))

TypeError: XGBClassifier.fit() missing 1 required positional argument: 'y'